/* --- ESTILOS DE RESPUESTAS --- */
.reply-card {
    margin-left: 30px;
    margin-top: 8px;
    padding: 12px;
    border-left: 2px solid var(--accent-red);
    background: #0a0a0a;
    border-radius: 0 12px 12px 0;
}

.card-img-reply {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin: 8px 0;
}

.toggle-btn {
    background: none;
    border: none;
    color: var(--text-dim);
    font-size: 13px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}

.toggle-btn:hover {
    color: var(--accent-red);
}

.cancelar-text {
    color: var(--accent-red);
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}

.post-group {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

.reply-btn {
    background: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-dim);
    padding: 6px 12px;
    border-radius: 15px;
    cursor: pointer;
}
